{{- 'cart-upsells.css' | asset_url | stylesheet_tag -}}


{%- capture handles_in_cart -%}
  {%- for item in cart.items -%}
    |{{- item.product.handle -}}|
  {%- endfor -%}
{%- endcapture -%}


<div class="cart-upsells page-width"
     cart-upsells-page="{{ section.id }}">
  <h2>{{- section.settings.title -}}</h2>
  <div data-cart-upsells
       class="cart-upsells__products">
    {%- for block in section.blocks -%}
      {%- assign requirement_handle = '|' | append: block.settings.upsell_requirement | append: '|' -%}
      {%- if handles_in_cart contains requirement_handle -%}
        {%- assign product_object = all_products[block.settings.upsell_product] -%}
        <product-tile title="{{ product_object.title }}"
                      price="{{ product_object.price | money }}"
                      image="{{ product_object.featured_image | img_url: '400x' }}"
                      variant="{{ product_object.selected_or_first_available_variant.id }}"></product-tile>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Cart Upsells",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Products You May Like"
      }
    ],
    "blocks": [
      {
        "type": "upsell",
        "name": "Upsell",
        "settings": [
          {
            "type": "product",
            "id": "upsell_requirement",
            "label": "Cart Product",
            "info": "Select the item that should be in the cart to trigger the upsell"
          },
          {
            "type": "product",
            "id": "upsell_product",
            "label": "Cart Upsell",
            "info": "Select the item that should be the upsell"
          }
        ]
      }
    ],
    "templates": [
      "cart",
      "index",
      "page",
      "product"
    ],
    "presets": [
      {
        "name": "Cart Upsells",
        "category": "Cart"
      }
    ]
  }
{% endschema %}