{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <h1>Your Cart</h1>
  <div data-cart-items-list="{{ section.id }}">
    <div class="cart-wrapper">
      <div class="cart-items">
        {%- for item in cart.items -%}
          <cart-page-item title="{{ item.product.title }}"
                          price="Item Price: {{ item.final_price | money }}"
                          line-price="Item Subtotal: {{ item.final_line_price | money }}"
                          quantity="{{ item.quantity }}"
                          key="{{ item.key }}"
                          image="{{ item.product.featured_image | img_url: '400x' }}"></cart-page-item>
        {%- endfor -%}
        {%- if cart.item_count == 0 -%}
          <div>
            <p>
              There are no items in your cart!
            </p>
            <a href="/collections/all"
               class="button">
              Continue Shopping
            </a>
          </div>
        {%- endif -%}
      </div>
      <div class="cart-summary">
        <p class="cart-summary__title">Cart Summary:</p>
        <p class="cart-summary__line">
          Original Subtotal: 
          <span>{{- cart.items_subtotal_price | money -}}</span>
        </p>
        <p class="cart-summary__line">
          Discounts: 
          <span>{{- cart.total_discount | money -}}</span>
        </p>
        <p class="cart-summary__line">
          Subtotal: 
          <span>{{- cart.total_price | money -}}</span>
        </p>

        <a href="/checkout"
           class="button button--full cart-summary__checkout">
          Checkout
        </a>
        <p class="cart-summary__disclaimer">
          * Shipping and taxes calculated at checkout
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Items",
    "settings": [
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top Padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 36
      }
    ]
  }
{% endschema %}
