<footer class="w-screen overflow-x-hidden">
  <div class="relative bg-secondary-active text-white">
    <div class="relative ccontain py-20 flex flex-col lg:flex-row lg:gap-x-8 gap-y-4 items-center justify-center z-[1]">
      <div>
        <h2 class="mb-4 h3 text-center">
          {{- settings.email_title -}}
        </h2>
        <p class="text-center">
          {{- settings.email_content -}}
        </p>
      </div>
      {% form 'customer', class: 'newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form__field-wrapper">
          <div class="flex flex-col gap-y-2">
            <div class="input-wrap input-wrap--dark">
              <input id="NewsletterForm--{{ section.id }}"
                     type="email"
                     name="contact[email]"
                     class="input--rouded text-black"
                     value="{{ form.email }}"
                     aria-required="true"
                     autocomplete="email"
                     placeholder=" "
                     required />
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                Email
              </label>
            </div>
            
            <button type="submit"
                    class="button button--primary"
                    name="commit"
                    id="Subscribe"
                    aria-label="Signup to our email list" />
              Signup
            </button>
          </div>
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus>
            {{- 'newsletter.success' | t }}
          </h3>
        {%- endif -%}
      {% endform %}
    </div>
  </div>

  <div class="py-4 text-white bg-true-black text-small">
    <div class="ccontain flex justify-between">
      <span>©{{ "now" | date: "%Y" }} Flannel Badger</span>
      <ul class="group flex gap-x-3">
        {%- for link in linklists[section.settings.terms_list].links -%}
          <li>
            <a href="{{ link.url }}"
               class="text-grey-3 group-hover:text-grey-5 group-hover:hover:text-white no-underline transition-color">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Site Footer",
    "tag": "footer",
    "settings": [
      {
        "type": "link_list",
        "id": "terms_list",
        "label": "Copyright Bar Links"
      }
    ]
  }
{% endschema %}